/* Inicio.css */

.navbar-custom {
  background-color: #1f1f1f;
  color: white;
  border-bottom: 1px solid #333;
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}

.navbar-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: rgb(30, 255, 14);
}

.icon-button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 6px 10px;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.icon-button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.navbar-logo {
  height: 20px;
  width: auto;
  margin-right: 16px;
  display: flex;
  align-items: center;
  object-fit: contain;
  vertical-align: middle;
}